In [ ]:
import pandas as pd

In [ ]:
with open("/content/test-clean.txt", "r") as files:
  test_data = files.readlines()

In [ ]:
with open("/content/train-clean-100.txt", "r") as file:
  train_data = file.readlines()

In [ ]:
# with open("train_flac.csv", "a") as f:
#   for i in train_data:
#     i.split(" ")
    
#     # f.write(f'{i[0]},')
#     # f.write(f'{i[1]}\n')

In [ ]:
text_train = train_data[0].replace("movie0.flac", "")
text_train = text_train.replace("\n", "")
text_train
# train_data[0] = train_data[0].map(lambda x: x.rstrip('movie0.flac'))

' "MUJHKO SOUTH PART OF TOWN MEIN PAN ASIAN FOOD SERVE KARNEWALA RESTAURANT CHAHIYE SORRY"'

In [ ]:
texts_train = []
for i in range(0, len(train_data)):
  txt = train_data[i].replace(f'movie{i}.flac', '')
  txt = txt.replace("\n", "")
  texts_train.append(txt)

In [ ]:
audio_train = []
for i in range(0, len(train_data)):
  ses = train_data[i].split(" ")[0]
  audio_train.append(ses)

In [ ]:
a = {}
for i in range(len(audio_train)):
  a[audio_train[i]] = texts_train[i]

In [ ]:
df_train = pd.DataFrame(a.items())
df_train

                   0                                                  1
0        movie0.flac   "MUJHKO SOUTH PART OF TOWN MEIN PAN ASIAN FOO...
1        movie1.flac   "MUJHE EK VIETNAMESE RESTAURANT KEE ZAROORAT ...
2        movie2.flac   "MAIN CHINESE FOOD SERVE KARNE WALA EK RESTAU...
3        movie3.flac   "KYA MUJHE ADDRESS MILEGA BILKUL NANDOS NANDO...
4        movie4.flac   "TOWN KA EAST PART EXPENSIVE AAP KAUNSE TYPE ...
...              ...                                                ...
2495  movie2495.flac   "MAI EAST PART OF TOWN ME RESTAURANT DEKHNA C...
2496  movie2496.flac   "MAIN SOUTH PART OF TOWN MEIN EK MODERATELY P...
2497  movie2497.flac   "BUT YAHAN KOI BHI RESTAURANT TUSCAN FOOD SER...
2498  movie2498.flac   "FOOD KO SERVE KARTA HAI API CALL JAPANESE R ...
2499  movie2499.flac   "MAIN TOWN KE WEST PART ME CHEAP RESTAURANT P...

[2500 rows x 2 columns]

In [ ]:
df_train.rename(columns = {0:'audio', 1:'text'}, inplace = True)
df_train

               audio                                               text
0        movie0.flac   "MUJHKO SOUTH PART OF TOWN MEIN PAN ASIAN FOO...
1        movie1.flac   "MUJHE EK VIETNAMESE RESTAURANT KEE ZAROORAT ...
2        movie2.flac   "MAIN CHINESE FOOD SERVE KARNE WALA EK RESTAU...
3        movie3.flac   "KYA MUJHE ADDRESS MILEGA BILKUL NANDOS NANDO...
4        movie4.flac   "TOWN KA EAST PART EXPENSIVE AAP KAUNSE TYPE ...
...              ...                                                ...
2495  movie2495.flac   "MAI EAST PART OF TOWN ME RESTAURANT DEKHNA C...
2496  movie2496.flac   "MAIN SOUTH PART OF TOWN MEIN EK MODERATELY P...
2497  movie2497.flac   "BUT YAHAN KOI BHI RESTAURANT TUSCAN FOOD SER...
2498  movie2498.flac   "FOOD KO SERVE KARTA HAI API CALL JAPANESE R ...
2499  movie2499.flac   "MAIN TOWN KE WEST PART ME CHEAP RESTAURANT P...

[2500 rows x 2 columns]

In [ ]:
# # pd.DataFrame()
# audio_values = []
# text_values = []
# for i in range(0, len(audio)):
  
# for j in text:
#   text_values = j

# dictionary = {
#     "audio" : [audio],
#     "text" : [text]
# }


# df = pd.DataFrame(dictionary)
# df

In [ ]:
text_test = test_data[0].replace("movie0.flac", "")
text_test = text_test.replace("\n", "")
text_test
# train_data[0] = train_data[0].map(lambda x: x.rstrip('movie0.flac'))

'movie2500.flac "MAI KOI BHI PRICE RANGE MEIN KOREAN KHANA DEKHNA CHAHTA HU SORRY"'

In [ ]:
texts_test = []
for i in range(len(test_data)):
  j = range(2500, 3223)
  txts = test_data[i].replace(f'movie{j}.flac', '')
  txts = txts.replace("\n", "")
  texts_test.append(txts)

In [ ]:
audio_test = []
for i in range(0, len(test_data)):
  voice = test_data[i].split(" ")[0]
  audio_test.append(voice)

In [ ]:
b = {}
for i in range(len(audio_test)):
  b[audio_test[i]] = texts_test[i]

In [ ]:
df_test = pd.DataFrame(b.items())
df_test

                  0                                                  1
0    movie2500.flac  movie2500.flac "MAI KOI BHI PRICE RANGE MEIN K...
1    movie2501.flac  movie2501.flac "MUJHE BELGIUM FOOD PAROSATI RE...
2    movie2502.flac  movie2502.flac "DEKHNA CHAHTA HU API CALL TURK...
3    movie2503.flac  movie2503.flac "AUR KUCHH THE VARSITY RESTAURA...
4    movie2504.flac  movie2504.flac "INDIAN FOOD KAISA RAHEGA I AM ...
..              ...                                                ...
718  movie3218.flac  movie3218.flac "WEST PART OF TOWN MEH MUJHE EK...
719  movie3219.flac  movie3219.flac "BUT KOI AUR ITALIAN RESTAURANT...
720  movie3220.flac  movie3220.flac "ADDRESS AUR POST CODE KYA HAIN...
721  movie3221.flac  movie3221.flac "ADDRESS PHONE NUMBER AUR POSTC...
722  movie3222.flac  movie3222.flac "DARRYS COOKHOUSE AND WINE SHOP...

[723 rows x 2 columns]

In [ ]:
df_test.rename(columns = {0:'audio', 1:'text'}, inplace = True)
df_test

              audio                                               text
0    movie2500.flac  movie2500.flac "MAI KOI BHI PRICE RANGE MEIN K...
1    movie2501.flac  movie2501.flac "MUJHE BELGIUM FOOD PAROSATI RE...
2    movie2502.flac  movie2502.flac "DEKHNA CHAHTA HU API CALL TURK...
3    movie2503.flac  movie2503.flac "AUR KUCHH THE VARSITY RESTAURA...
4    movie2504.flac  movie2504.flac "INDIAN FOOD KAISA RAHEGA I AM ...
..              ...                                                ...
718  movie3218.flac  movie3218.flac "WEST PART OF TOWN MEH MUJHE EK...
719  movie3219.flac  movie3219.flac "BUT KOI AUR ITALIAN RESTAURANT...
720  movie3220.flac  movie3220.flac "ADDRESS AUR POST CODE KYA HAIN...
721  movie3221.flac  movie3221.flac "ADDRESS PHONE NUMBER AUR POSTC...
722  movie3222.flac  movie3222.flac "DARRYS COOKHOUSE AND WINE SHOP...

[723 rows x 2 columns]

In [ ]:
for i in range(len(df_test["text"])):
  for j in range(2500, 3223):
    df_test["text"][i] = df_test["text"][i].replace(f'movie{j}.flac', '')

In [ ]:
df_test

              audio                                               text
0    movie2500.flac   "MAI KOI BHI PRICE RANGE MEIN KOREAN KHANA DE...
1    movie2501.flac   "MUJHE BELGIUM FOOD PAROSATI RESTAURANT THE M...
2    movie2502.flac   "DEKHNA CHAHTA HU API CALL TURKISH R LOCATION...
3    movie2503.flac   "AUR KUCHH THE VARSITY RESTAURANT EK ACHA PLA...
4    movie2504.flac   "INDIAN FOOD KAISA RAHEGA I AM SORRY LEKIN WA...
..              ...                                                ...
718  movie3218.flac   "WEST PART OF TOWN MEH MUJHE EK MODERATELY PR...
719  movie3219.flac   "BUT KOI AUR ITALIAN RESTAURANT CHEAP PRICE R...
720  movie3220.flac   "ADDRESS AUR POST CODE KYA HAIN PEKING RESTAU...
721  movie3221.flac   "ADDRESS PHONE NUMBER AUR POSTCODE ROYAL STAN...
722  movie3222.flac   "DARRYS COOKHOUSE AND WINE SHOP MODERN EUROPE...

[723 rows x 2 columns]

In [ ]:
df_train

               audio                                               text
0        movie0.flac   "MUJHKO SOUTH PART OF TOWN MEIN PAN ASIAN FOO...
1        movie1.flac   "MUJHE EK VIETNAMESE RESTAURANT KEE ZAROORAT ...
2        movie2.flac   "MAIN CHINESE FOOD SERVE KARNE WALA EK RESTAU...
3        movie3.flac   "KYA MUJHE ADDRESS MILEGA BILKUL NANDOS NANDO...
4        movie4.flac   "TOWN KA EAST PART EXPENSIVE AAP KAUNSE TYPE ...
...              ...                                                ...
2495  movie2495.flac   "MAI EAST PART OF TOWN ME RESTAURANT DEKHNA C...
2496  movie2496.flac   "MAIN SOUTH PART OF TOWN MEIN EK MODERATELY P...
2497  movie2497.flac   "BUT YAHAN KOI BHI RESTAURANT TUSCAN FOOD SER...
2498  movie2498.flac   "FOOD KO SERVE KARTA HAI API CALL JAPANESE R ...
2499  movie2499.flac   "MAIN TOWN KE WEST PART ME CHEAP RESTAURANT P...

[2500 rows x 2 columns]

In [ ]:
import re
for i in range(len(df_train["text"])):
  df_train["text"][i] = df_train["text"][i].lower()
  df_train["text"][i] = re.sub("'", "", df_train["text"][i])
  df_train["text"][i] = re.sub('"', '', df_train["text"][i])
  # df_train["text"][i] = df_train["text"][i].strip()

In [ ]:
df_train

               audio                                               text
0        movie0.flac   mujhko south part of town mein pan asian food...
1        movie1.flac   mujhe ek vietnamese restaurant kee zaroorat h...
2        movie2.flac   main chinese food serve karne wala ek restaur...
3        movie3.flac   kya mujhe address milega bilkul nandos nandos...
4        movie4.flac   town ka east part expensive aap kaunse type k...
...              ...                                                ...
2495  movie2495.flac   mai east part of town me restaurant dekhna ch...
2496  movie2496.flac   main south part of town mein ek moderately pr...
2497  movie2497.flac   but yahan koi bhi restaurant tuscan food serv...
2498  movie2498.flac   food ko serve karta hai api call japanese r l...
2499  movie2499.flac   main town ke west part me cheap restaurant pa...

[2500 rows x 2 columns]

In [ ]:
for i in range(len(df_train["text"])):
  df_train["text"] = df_train["text"].apply(lambda x: x.strip())

In [ ]:
import re
for i in range(len(df_test["text"])):
  df_test["text"][i] = df_test["text"][i].lower()
  df_test["text"][i] = re.sub("'", "", df_test["text"][i])
  df_test["text"][i] = re.sub('"', '', df_test["text"][i])
  # df_train["text"][i] = df_train["text"][i].strip()

In [ ]:
for i in range(len(df_test["text"])):
  df_test["text"] = df_test["text"].apply(lambda x: x.strip())

In [ ]:
for i in range(len(df_train["audio"])):
  df_train["audio"][i] = df_train["audio"][i].replace(f'movie{i}.flac', f'/content/drive/MyDrive/train-clean-100/movie{i}.flac')

In [ ]:
for i in range(len(df_test["audio"])):
  for j in range(2500, 3223):
    df_test["audio"][i] = df_test["audio"][i].replace(f'movie{j}.flac', f'/content/drive/MyDrive/test-clean/movie{j}.flac')

In [ ]:
df_train.to_csv("train_data.csv", index = False)

In [ ]:
# df_test.to_csv("test_data.csv", index = False)

In [ ]:
df_train

,audio,text
0,/content/drive/MyDrive/train-clean-100/movie0....,mujhko south part of town mein pan asian food ...
1,/content/drive/MyDrive/train-clean-100/movie1....,mujhe ek vietnamese restaurant kee zaroorat ha...
2,/content/drive/MyDrive/train-clean-100/movie2....,main chinese food serve karne wala ek restaura...
3,/content/drive/MyDrive/train-clean-100/movie3....,kya mujhe address milega bilkul nandos nandos ...
4,/content/drive/MyDrive/train-clean-100/movie4....,town ka east part expensive aap kaunse type ka...
...,...,...
2495,/content/drive/MyDrive/train-clean-100/movie24...,mai east part of town me restaurant dekhna cha...
2496,/content/drive/MyDrive/train-clean-100/movie24...,main south part of town mein ek moderately pri...
2497,/content/drive/MyDrive/train-clean-100/movie24...,but yahan koi bhi restaurant tuscan food serve...
2498,/content/drive/MyDrive/train-clean-100/movie24...,food ko serve karta hai api call japanese r lo...
2499,/content/drive/MyDrive/train-clean-100/movie24...,main town ke west part me cheap restaurant pas...

In [ ]:
df_test

,audio,text
0,/content/drive/MyDrive/test-clean/movie2500.flac,mai koi bhi price range mein korean khana dekh...
1,/content/drive/MyDrive/test-clean/movie2501.flac,mujhe belgium food parosati restaurant the me ...
2,/content/drive/MyDrive/test-clean/movie2502.flac,dekhna chahta hu api call turkish r location m...
3,/content/drive/MyDrive/test-clean/movie2503.flac,aur kuchh the varsity restaurant ek acha place...
4,/content/drive/MyDrive/test-clean/movie2504.flac,indian food kaisa rahega i am sorry lekin waha...
...,...,...
718,/content/drive/MyDrive/test-clean/movie3218.flac,west part of town meh mujhe ek moderately pric...
719,/content/drive/MyDrive/test-clean/movie3219.flac,but koi aur italian restaurant cheap price ran...
720,/content/drive/MyDrive/test-clean/movie3220.flac,address aur post code kya hain peking restaura...
721,/content/drive/MyDrive/test-clean/movie3221.flac,address phone number aur postcode royal standa...
722,/content/drive/MyDrive/test-clean/movie3222.flac,darrys cookhouse and wine shop modern european...

Here I want to Run this notebook in my local PC.Thus I process paths for my computer

In [ ]:
import pandas as pd

In [ ]:
df_train = pd.read_csv("/content/train_data.csv")
df_train

,audio,text
0,/content/drive/MyDrive/train-clean-100/movie0....,mujhko south part of town mein pan asian food ...
1,/content/drive/MyDrive/train-clean-100/movie1....,mujhe ek vietnamese restaurant kee zaroorat ha...
2,/content/drive/MyDrive/train-clean-100/movie2....,main chinese food serve karne wala ek restaura...
3,/content/drive/MyDrive/train-clean-100/movie3....,kya mujhe address milega bilkul nandos nandos ...
4,/content/drive/MyDrive/train-clean-100/movie4....,town ka east part expensive aap kaunse type ka...
...,...,...
2495,/content/drive/MyDrive/train-clean-100/movie24...,mai east part of town me restaurant dekhna cha...
2496,/content/drive/MyDrive/train-clean-100/movie24...,main south part of town mein ek moderately pri...
2497,/content/drive/MyDrive/train-clean-100/movie24...,but yahan koi bhi restaurant tuscan food serve...
2498,/content/drive/MyDrive/train-clean-100/movie24...,food ko serve karta hai api call japanese r lo...
2499,/content/drive/MyDrive/train-clean-100/movie24...,main town ke west part me cheap restaurant pas...

In [ ]:
df_test = pd.read_csv("/content/test_data.csv")
df_test

,audio,text
0,/content/drive/MyDrive/test-clean/movie2500.flac,mai koi bhi price range mein korean khana dekh...
1,/content/drive/MyDrive/test-clean/movie2501.flac,mujhe belgium food parosati restaurant the me ...
2,/content/drive/MyDrive/test-clean/movie2502.flac,dekhna chahta hu api call turkish r location m...
3,/content/drive/MyDrive/test-clean/movie2503.flac,aur kuchh the varsity restaurant ek acha place...
4,/content/drive/MyDrive/test-clean/movie2504.flac,indian food kaisa rahega i am sorry lekin waha...
...,...,...
718,/content/drive/MyDrive/test-clean/movie3218.flac,west part of town meh mujhe ek moderately pric...
719,/content/drive/MyDrive/test-clean/movie3219.flac,but koi aur italian restaurant cheap price ran...
720,/content/drive/MyDrive/test-clean/movie3220.flac,address aur post code kya hain peking restaura...
721,/content/drive/MyDrive/test-clean/movie3221.flac,address phone number aur postcode royal standa...
722,/content/drive/MyDrive/test-clean/movie3222.flac,darrys cookhouse and wine shop modern european...

In [ ]:
for i in range(len(df_train["audio"])):
  df_train["audio"][i] = df_train["audio"][i].replace(f'/content/drive/MyDrive/train-clean-100/movie{i}.flac', f'C:/Users/Azer/OneDrive/Desktop/Speech_Recognition/train-clean-100/movie{i}.flac')

In [ ]:
for i in range(len(df_test["audio"])):
  for j in range(2500, 3223):
    df_test["audio"][i] = df_test["audio"][i].replace(f'/content/drive/MyDrive/test-clean/movie{j}.flac', f'C:/Users/Azer/OneDrive/Desktop/Speech_Recognition/test-clean/movie{j}.flac')

In [ ]:
df_train

,audio,text
0,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,mujhko south part of town mein pan asian food ...
1,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,mujhe ek vietnamese restaurant kee zaroorat ha...
2,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,main chinese food serve karne wala ek restaura...
3,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,kya mujhe address milega bilkul nandos nandos ...
4,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,town ka east part expensive aap kaunse type ka...
...,...,...
2495,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,mai east part of town me restaurant dekhna cha...
2496,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,main south part of town mein ek moderately pri...
2497,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,but yahan koi bhi restaurant tuscan food serve...
2498,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,food ko serve karta hai api call japanese r lo...
2499,C:/Users/Azer/OneDrive/Desktop/Speech_Recognit...,main town ke west part me cheap restaurant pas...

In [ ]:
df_test["text"][2]

'dekhna chahta hu api call turkish r location moderate'

In [ ]:
df_train.to_csv("train-data.csv", index = False)

In [ ]:
df_test.to_csv("test-data.csv", index = False)